# Importing Required Libraries

In [1]:
import pandas as pd 
import numpy as np

# Writing functions to performs data preprocessing and Outlier detection using Isolation Forest Algoritm

In [2]:
# Author: Avish Jadwani
# Last Updated: 01/10/2020

# Function to remove a column from a data frame manualy
def remove_col(df):
    col = input("Enter the column you want to remove, If you want to remove multiple columns separate it by comma eg. variable1,variable2")
    if col == '':
        print("No column removed")
    else:
        col=col.split(",")
        df.drop(columns=col,axis=1, inplace= True)
    
    print("Removed column {}".format(col))
# Function to remove columns with '0' values 
def  rem_zero_cols(df):
    rem = []
    for col in df:
        if( sum(df[col]==0) >= (0.95 * len(df)) ):
        
            rem.append(col)
    df.drop(rem, axis=1, inplace = True)
    print('Removed columns {} with 0 values'.format(rem))
    
    
# Function to remove columns with null values 
def  rem_null_cols(df):
    import pandas as pd
    import numpy as np
    rem = []
    for col in df:
        if(sum(pd.notna(df[col]))==0):
            rem.append(col)
    df.drop(rem, axis=1, inplace = True)
    print('Removed columns {} with all null values'.format(rem))
    
# Identifying and Removing Unique identifiers
def uniq_iden(df):
    rem = []
    for col in df:
        if df[col].nunique() == len(df):
            rem.append(col)
    df.drop(rem,axis=1, inplace =True)
    print("Removed uinque identifiers {}  ".format(rem))
# Function to replace NA values 
def replace_NA(df,num):
    df.fillna(num, inplace = True)

# Replace NA values with -9999, One Hot encoding for categorical variables, isolation forest, result stored in excel file with name Outlier_result
def hotenc_isof_btrace(df):
    import pandas as pd
    import numpy as np
    lsto=[]
    lstflt=[]
    df2 = pd.DataFrame()
    df_short= pd.DataFrame()
    df_catvar = pd.DataFrame()
    n=0
    #Replace NA values with -9999
    #-9999 can be changed to any value
    replace_NA(df,-9999)
    # Performing one hot encoding by subsettig categorical variables
    for col in df:
        if(df[col].dtype == 'O'):
            lsto.append(col)
        elif(df[col].dtype != 'O'):
            lstflt.append(col)
    df2 =pd.get_dummies(df, prefix_sep="__", columns=lsto)
    
    # Performing isolation forest 
    from sklearn.ensemble import IsolationForest

    isofor = IsolationForest(n_estimators=200,contamination=0.01, behaviour='deprecated')
    isofor.fit(df2)
    predict = isofor.predict(df2)
    # Storing results of isolation forest in 'Outlier' variable in data frame
    df2['Outlier'] = predict
    # Restoring data frame to original format, ie. without one hot encoding
    lstflt.append('Outlier')
    df_catvar = df.loc[:,lsto]
    df_short = df2.loc[:,lstflt]
    result = pd.concat([df_catvar,df_short], axis =1 , sort=False)
    result.replace(-9999, np.nan,inplace =True )
    
    n = n+len(result.columns)
    
    def highlight_lessthan(x):
        if x.Outlier == -1:
            return ['background-color: yellow']*n
        else:
             return ['background-color: white']*n
    result = result.style.apply(highlight_lessthan, axis= 1)
    
    
    result.to_excel("NormOutlier_result.xlsx")



# Complete analysis in one function 

def isoforest(df):
    import pandas as pd
    import numpy as np
    import GCOutlier as gc
    # Select column to remove 
    gc.remove_col(df)
    #remove columns with null values
    gc.rem_null_cols(df)
    # Remove colmns with 0
    gc.rem_zero_cols(df)
    # Remove Unique identifiers
    gc.uniq_iden(df)
    
    lsto=[]
    lstflt=[]
    df2 = pd.DataFrame()
    df_short= pd.DataFrame()
    df_catvar = pd.DataFrame()
    n=0
    #Replace NA values with -9999
    #-9999 can be changed to any value
    replace_NA(df,-9999)
    # Performing one hot encoding by subsettig categorical variables
    for col in df:
        if(df[col].dtype == 'O'):
            lsto.append(col)
        elif(df[col].dtype != 'O'):
            lstflt.append(col)
    df2 =pd.get_dummies(df, prefix_sep="__", columns=lsto)
    
    # Performing isolation forest 
    from sklearn.ensemble import IsolationForest

    isofor = IsolationForest(n_estimators=200,contamination=0.01, behaviour='deprecated')
    isofor.fit(df2)
    predict = isofor.predict(df2)
    # Storing results of isolation forest in 'Outlier' variable in data frame
    df2['Outlier'] = predict
    # Restoring data frame to original format, ie. without one hot encoding
    lstflt.append('Outlier')
    df_catvar = df.loc[:,lsto]
    df_short = df2.loc[:,lstflt]
    result = pd.concat([df_catvar,df_short], axis =1 , sort=False)
    result.replace(-9999, np.nan,inplace =True )
    
    n = n+len(result.columns)
    
    def highlight_lessthan(x):
        if x.Outlier == -1:
            return ['background-color: yellow']*n
        else:
             return ['background-color: white']*n
    result = result.style.apply(highlight_lessthan, axis= 1)
    
    
    result.to_excel("NormOutlier_result.xlsx")
    
# Function for one hot encoding , isolation forest, back tracing and saving outliers as a separate file 
def return_Outlier(df):
    import pandas as pd
    import numpy as np
    lsto=[]
    lstflt=[]
    df2 = pd.DataFrame()
    df_short= pd.DataFrame()
    df_catvar = pd.DataFrame()
    n=0
    #Replace NA values with -9999
    #-9999 can be changed to any value
    replace_NA(df,-9999)
    # Performing one hot encoding by subsettig categorical variables
    for col in df:
        if(df[col].dtype == 'O'):
            lsto.append(col)
        elif(df[col].dtype != 'O'):
            lstflt.append(col)
    df2 =pd.get_dummies(df, prefix_sep="__", columns=lsto)
    
    # Performing isolation forest 
    from sklearn.ensemble import IsolationForest

    isofor = IsolationForest(n_estimators=200,contamination=0.01, behaviour='deprecated')
    isofor.fit(df2)
    predict = isofor.predict(df2)
    # Storing results of isolation forest in 'Outlier' variable in data frame
    df2['Outlier'] = predict
    # Restoring data frame to original format, ie. without one hot encoding
    lstflt.append('Outlier')
    df_catvar = df.loc[:,lsto]
    df_short = df2.loc[:,lstflt]
    result = pd.concat([df_catvar,df_short], axis =1 , sort=False)
    result.replace(-9999, np.nan,inplace =True )
    
    n = n+len(result.columns)
    
    
    #def highlight_lessthan(x):
        #if x.Outlier == -1:
            #return ['background-color: yellow']*n
        #else:
             #return ['background-color: white']*n
    #result = result.style.apply(highlight_lessthan, axis= 1)
    result = result[result.loc[:,'Outlier']==-1]
    result = result.drop('Outlier',axis=1)
    
    result.to_excel("Outlier_result.xlsx")
    
# Function to merge data with polyciynum
def change(df):
    import pandas as pd
    import numpy as np
    #def remove_col(df):
    col = input("Enter the column you want to remove. If you have more than 1 column separate it with comma without any space eg column1,column2")
    if col == '':
        print("No column removed")
    else:
        col=col.split(",")
        removedcol = df.loc[:,col]
        df.drop(columns=col,axis=1, inplace= True)
        print("Removed column {}".format(col))
    
    lsto=[]
    lstflt=[]
    df2 = pd.DataFrame()
    df_short= pd.DataFrame()
    df_catvar = pd.DataFrame()
    n=0
    #Replace NA values with -9999
    #-9999 can be changed to any value
    replace_NA(df,-9999)
    # Performing one hot encoding by subsettig categorical variables
    for col in df:
        if(df[col].dtype == 'O'):
            lsto.append(col)
        elif(df[col].dtype != 'O'):
            lstflt.append(col)
    df2 =pd.get_dummies(df, prefix_sep="__", columns=lsto)
    
    # Performing isolation forest 
    from sklearn.ensemble import IsolationForest

    isofor = IsolationForest(n_estimators=200,contamination=0.01, behaviour='deprecated')
    isofor.fit(df2)
    predict = isofor.predict(df2)
    # Storing results of isolation forest in 'Outlier' variable in data frame
    df2['Outlier'] = predict
    # Restoring data frame to original format, ie. without one hot encoding
    lstflt.append('Outlier')
    df_catvar = df.loc[:,lsto]
    df_short = df2.loc[:,lstflt]
    result = pd.concat([df_catvar,df_short], axis =1 , sort=False)
    result=pd.concat([removedcol,result],axis=1,sort=False)
    result.replace(-9999, np.nan,inplace =True )
    
    n = n+len(result.columns)
    
    
    #def highlight_lessthan(x):
        #if x.Outlier == -1:
            #return ['background-color: yellow']*n
        #else:
             #return ['background-color: white']*n
    #result = result.style.apply(highlight_lessthan, axis= 1)
    result.drop('Outlier', axis=1)
    return result
    #result.to_excel("Outlier_result.xlsx")
# Final Function to perform isoforest- it also removes the input columns,multiple columns can also be removed. Gives try agin #message
def gcoutlier(df):
    import pandas as pd
    import numpy as np
    #def remove_col(df):
    def check_elements(df,col):
        col = col.split(",")
        for i in range(0,len(col)):
            if(col[i] not in list(df.columns)):
                return -1
                break
    while True:
        
        col = input("Enter the column you want to remove. \n If you have more than 1 column separate it with comma(,)")
        if col == '':
            print("No column removed")
            merge = -1
            break
        elif check_elements(df,col)==-1:
            #check = check_elements(df,col)
            #if check==-1:
            print('Incorrect column name, Try Again')
            continue
        else:
            col=col.split(",")
            removedcol = df.loc[:,col]
            df.drop(columns=col,axis=1, inplace= True)
            merge = 1
            print("Removed column {}".format(col))
            break
    
    lsto=[]
    lstflt=[]
    df2 = pd.DataFrame()
    df_short= pd.DataFrame()
    df_catvar = pd.DataFrame()
    n=0
    #Replace NA values with -9999
    #-9999 can be changed to any value
    replace_NA(df,-9999)
    # Performing one hot encoding by subsettig categorical variables
    for col in df:
        if(df[col].dtype == 'O'):
            lsto.append(col)
        elif(df[col].dtype != 'O'):
            lstflt.append(col)
    df2 =pd.get_dummies(df, prefix_sep="__", columns=lsto)
    
    # Performing isolation forest 
    from sklearn.ensemble import IsolationForest

    isofor = IsolationForest(contamination='auto', behaviour='deprecated')
    isofor.fit(df2)
    predict = isofor.predict(df2)
    # Storing results of isolation forest in 'Outlier' variable in data frame
    df2['Outlier'] = predict
    # Restoring data frame to original format, ie. without one hot encoding
    lstflt.append('Outlier')
    df_catvar = df.loc[:,lsto]
    df_short = df2.loc[:,lstflt]
    result = pd.concat([df_catvar,df_short], axis =1 , sort=False)
    if merge == 1:
        result=pd.concat([removedcol,result],axis=1,sort=False)
    result.replace(-9999, np.nan,inplace =True )
    
    n = n+len(result.columns)
    
    
    #def highlight_lessthan(x):
        #if x.Outlier == -1:
            #return ['background-color: yellow']*n
        #else:
             #return ['background-color: white']*n
    #result = result.style.apply(highlight_lessthan, axis= 1)
    result.drop('Outlier', axis=1)
    #return result
    result.to_excel("Outlier_result.xlsx")

In [3]:
df = pd.read_csv("CreditCard.csv")

In [4]:
df.info()

# Removing columsn which has all the null values
rem_null_cols(df)
uniq_iden(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
Removed columns [] with all null values
Removed uinque identifiers []

In [5]:
# gcoutlier performs isolation forest 
# This function pops up a dialog box to enter a column name to delete it manually 
# Fucntion stores the result of the Isolation forest in the directory with filename Outlier_results.xlsx
in our case Class
gcoutlier(df)

Enter the column you want to remove.
 If you have more than 1 column separate it with comma(,)Class
Removed column ['Class']

In [7]:
df2 = pd.read_excel("Outlier_result.xlsx")

In [8]:
df2

,Unnamed: 0,Class,Time,V1,V2,V3,V4,V5,V6,V7,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Outlier
0,0,0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,1
1,1,0,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,2,0,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,1
3,3,0,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,1
4,4,0,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,284802,0,172786,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,-1
284803,284803,0,172787,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,1
284804,284804,0,172788,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,1
284805,284805,0,172788,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,1
284806,284806,0,172792,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,1

In [9]:
from sklearn.metrics import confusion_matrix
df2['Outlier'].replace(1,0, inplace = True)
df2['Outlier'].replace(-1,1,inplace = True)
actual = df2['Class']
pred = df2['Outlier']
confusion_matrix(actual,pred)

array([[273438,  10877],
       [    83,    409]])

In [10]:
pd.crosstab(actual,pred,rownames=['Actual'],colnames=['Predicted'])

Predicted       0      1
Actual
0          273438  10877
1              83    409

In [11]:
from sklearn.metrics import accuracy_score 
accuracy_score(actual, pred)

0.9615177997731797

The accuracy of the model is 0.96

In [12]:
# True Positive Rate

415/(77+415)

0.8434959349593496